@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&family=Sixtyfour+Convergence&display=swap");
.container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 999 !important;
  box-shadow: 0 29px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.3 ease;
  transform: translate(-100vw);
}
.content {
  width: 60vw;
  height: 100vh;
  background: #fff;
  padding: 1rem;
}
.content h1 {
  font-family: "Sixtyfour Convergence", serif;
  text-align: center;
  margin: 1rem 0;
}
.active {
  opacity: 1;
  transform: translate(0);
}
.links {
  padding: 1rem;
}
.links li {
  display: block;
  margin: 0.5rem 0;
  padding: 1rem;
}
.links a {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  font-family: "Poppins", serif;
  color: #c55555;
}
@media (max-width: 425px) {
  .content h1 {
    font-size: 20px;
  }
  .links a {
    font-size: 0.9rem;
  }
}
